{{! this is a comment in mustache }}

<div class="island text-center">
  <h1 class="visuallyhidden">spaceBase</h1>
  <div class="text-center">
    <a href="/"><img src="/public/images/logo.jpg" alt="spaceBase logo" /></a>
  </div>
  <a href="https://github.com/space150/spaceBase">View on GitHub</a>
</div>
