<div class="islet">
<h2 class="heading h1">Wax Front-End Index</h2>
<p>
  This is directory of your pages which are specified in the waxfile.<br/>
</p>
<ul class="landmark v-list">
{{#pages}}
  <li><a href="{{url}}" class="btn">{{name}}</a></li>
{{/pages}}
</ul>
</div>
